/* codice CSS to-do list con Vue */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: deepskyblue;
}

.d_flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

img {
    height: 50px;

}

input, button {
    border-radius: 10px;
}

button {
    padding: 15px;
    margin-left: 10px;
}   

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

li {
    background-color: lightgrey;
}

ul {
    list-style-type: none;
}

.fas:hover {
    cursor: pointer;
}