/* codice CSS to-do list con Vue */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: deepskyblue;
    font-family: "Josefin Sans", "sans-serif";
    font-size: 18px;
}

.d_flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

img {
    height: 50px;

}

input {
   
    padding: 10px;
    width: 250px;
}

button {
    border: 0;
    padding: 8px 15px;
    margin: 20px 0 20px 0;
    font-family: "Josefin Sans", "sans-serif";
    font-size: 18px;
}   

h2 {
    margin-bottom: 10px;
}

li {
    background-color: lightgrey;
}

ul {
    list-style-type: none;
}

.fas:hover {
    cursor: pointer;
}

.nothing {
    background-color: lightblue;
    padding: 10px;
}

input, .nothing, button {
    border-radius: 10px;
}